.geek-isDark {
  #article-editor {
    pre {
      background: rgba(0, 0, 0, 0.1) !important;
    }

    pre .pre-head {
      background: #edebeb;
      height: 30px;
    }

    code::-webkit-scrollbar-track-piece {
      background: rgba(236, 233, 233, 0.5) !important;
    }

    code::-webkit-scrollbar-thumb {
      background: #d2d2d2;
    }

    code:hover::-webkit-scrollbar-thumb:hover {
      background: #a4a3a3 !important;
    }

    code:hover::-webkit-scrollbar-thumb {
      background: #777 !important;
    }
  }
}
