@font-face {
    font-family: "XiaolaiMonoSC";
    src: url("https://cos.tngeek.com/font/XiaolaiMonoSC-Regular.ttf");
}

html {
    font-family: "XiaolaiMonoSC", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

* {
    font-family: "XiaolaiMonoSC", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

#vditorPreview * {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

#vditorPreview img {
    border-radius: 0px;
}

#vditorPreview .alert {
    border-radius: 0px;
    background-color: #eee;
}

#vditorPreview li::before {
    content: "";
}

#vditorPreview li {
    text-indent: 0em;
}

a,
select,
input,
option,
button,
textarea {
    font-family: "XiaolaiMonoSC", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

body {
    font-size: 15px;
}


/* 滚动槽 */

html::-webkit-scrollbar-track {
    border-radius: 10px;
}


/* 滚动条滑块 */

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

html::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}

.part {
    position: relative;
    z-index: 99;
    width: 100%;
    height: auto;
    padding: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
    border: 1px solid #c1c0bd;
}

.main-title {
    color: #000;
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.modal .modal-body>.btn-close {
    transform: scaleX(1.8) rotate(-3deg);
}