@font-face {
    font-family: "XiaolaiMonoSC";
    src: url("https://cos.tngeek.com/font/XiaolaiMonoSC-Regular.ttf");
}

html {
    font-family: "XiaolaiMonoSC", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

* {
    font-family: "XiaolaiMonoSC", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

#vditorPreview * {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
    font-family: "XiaolaiMonoSC", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

select {
    font-family: "XiaolaiMonoSC", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

option {
    font-family: "XiaolaiMonoSC", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}

body {
    font-size: 15px;
}


/* 设置滚动条的样式 */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


/* 滚动槽 */

 ::-webkit-scrollbar-track {
    border-radius: 10px;
}


/* 滚动条滑块 */

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}

.part {
    position: relative;
    z-index: 99;
    width: 100%;
    height: auto;
    padding: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
}

.main-title {
    color: #000;
    font-size: 24px;
    margin-bottom: 20px;
}