.catalogue-scroll {
    padding-left: 1px;
    max-height: 500px;
    overflow: auto;
}

.catalogue-scroll::-webkit-scrollbar {
    display: none;
    width: 3px;
    height: 3px;
}

.catalogue-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
}

.catalogue-scroll:hover::-webkit-scrollbar-thumb {
    background: rgba(146, 146, 146, .3);
}

.catalogue-scroll::-webkit-scrollbar-track {
    background: none;
}

.cl-wrapper {
    border-left: 2px solid #ededed;
    position: relative;
    font-weight: 400;
    .cl-link {
        position: relative;
        font-weight: 400;
        cursor: pointer;
        margin-left: 10px;
        display: block;
        border-radius: 4px;
        padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    }
    ul,
    li {
        list-style: none;
        margin: 0;
    }
    li>.cl-link.cl-link-active {
        color: #2185d0;
    }
    li>.cl-link:hover {
        background: #ededed;
    }
    li>.cl-link.cl-link-active:before {
        position: absolute;
        left: -12.5px;
        width: 4px;
        height: 14px;
        background: #2185d0;
        border-radius: 2px;
        content: "";
        top: 50%;
        transform: translateY(-50%);
    }
    .cl-level-1,
    .cl-level-2 {
        text-indent: 0;
    }
}