/* @font-face {
    font-family: "XiaolaiMonoSC";
    src: url("https://kamtao-1255310647.cos.ap-chengdu.myqcloud.com/font/XiaolaiMonoSC-Regular.ttf");
}

@font-face {
    font-family: "naikaifont";
    src: url("https://kamtao-1255310647.cos.ap-chengdu.myqcloud.com/font/naikaifont-Regular.ttf");
}

@font-face {
    font-family: naikaifont;
    src: url(https://cdn.jsdelivr.net/gh/max32002/naikaifont@1.0/webfont/NaikaiFont-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/naikaifont@1.0/webfont/NaikaiFont-Regular.woff) format("woff");
} */

// @import "https://30sec.oss-cn-guangzhou.aliyuncs.com/public/SanCFont.css";
html {
    font-family: "Source Sans Pro", "Hiragino Sans GB", "Microsoft Yahei", SimSun, Helvetica, Arial, Sans-serif, monospace;
}

* {
    font-family: "Source Sans Pro", "Hiragino Sans GB", "Microsoft Yahei", SimSun, Helvetica, Arial, Sans-serif, monospace;
}

.vditor-reset * {
    font-family: "Source Sans Pro", "Hiragino Sans GB", "Microsoft Yahei", SimSun, Helvetica, Arial, Sans-serif, monospace;
}

.vditor-reset img {
    border-radius: 0px;
}

.vditor-reset .alert {
    border-radius: 0px;
    background-color: #eee;
}

.vditor-reset li::before {
    content: "";
}

.vditor-reset li {
    text-indent: 0em;
}

.vditor-reset h1,
.vditor-reset h2,
.vditor-reset h3,
.vditor-reset h4,
.vditor-reset h5,
.vditor-reset h6 {
    padding-top: 20px;
}

.article-list li span span {
    border-bottom: rgba(0, 0, 0, 0%) 2px solid;
}


/* .article-list .vditor-outline__item--current span span {
    border-bottom: 2px #0071de solid;
    box-sizing: border-box;
} */

.vditor-reset--anchor {
    padding-left: 0px !important;
}

a,
select,
input,
option,
button,
textarea {
    font-family: "Source Sans Pro", "Hiragino Sans GB", "Microsoft Yahei", SimSun, Helvetica, Arial, Sans-serif, monospace;
    outline: none;
}

button {
    margin: 0px;
}

body {
    font-size: 14px;
    background-color: #eff3f6;
}

.modal {
    z-index: 9999999;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}


/* 滚动槽 */

html::-webkit-scrollbar-track {
    border-radius: 10px;
}


/* 滚动条滑块 */

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

html::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}

.part {
    position: relative;
    z-index: 99;
    width: 100%;
    height: auto;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 5%);
    transition: all .25s;
    box-sizing: border-box;
}

.main-title {
    position: relative;
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.modal .modal-body>.btn-close {
    transform: scaleX(1.3) rotate(-3deg);
}

.article-list>ul {
    padding-left: 0px !important;
}

.article-list li {
    text-indent: 0em;
    line-height: 24px;
}

.article-list li:before {
    content: "" !important;
}

.article-list {
    li>span {
        margin-bottom: 5px;
        background: #fff;
        font-size: 14px;
    }
    li>span:hover {
        border-radius: 8px;
        background: rgba($color: #000, $alpha: 0.05);
    }
}

// 移动端适配
@media screen and (max-width: 1025px) {
    .main-title {
        color: #333;
        font-size: 16px;
    }
}