body {
    padding: 0px !important;
    overflow-y: scroll !important;
    overflow-x: auto !important;
}

html {
    overflow: inherit;
}

@font-face {
    font-family: HarmonyOS_Sans_SC_Medium;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/irozhi/HarmonyOS-Sans/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/irozhi/HarmonyOS-Sans/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.woff') format('woff');
}

div,
a,
p,
li,
ul,
body {
    font-family: HarmonyOS_Sans_SC_Medium;
}

.geek-isDark {
    filter: invert(1) hue-rotate(180deg) !important;
    img,
    #owl-login,
    .logo,
    .slogan,
    .button,
    .label,
    .cover,
    .article-title-list .ui,
    .links-detail header,
    .contact-wrapper .icon,
    .article-wrapper header,
    .timeline-wrapper header,
    .timeline-wrapper .user-info .user-box .nickname,
    .article-wrapper .user-info .user-box .nickname,
    .badge,
    video {
        filter: invert(1) hue-rotate(180deg);
    }
    .volume-line .line-btn {
        background-color: #333 !important;
    }
    .part {
        background: rgba($color: #000, $alpha: 0.1) !important;
    }
    .top-nav-wrapper {
        background: rgba($color: #e1e1e1, $alpha: 1) !important;
    }
    .logo .title {
        color: #fff;
    }
    .modal-bg {
        background: rgba($color: #fff, $alpha: 0.8) !important;
    }
    body {
        background: #fff !important;
    }
}

.v-note-wrapper {
    background: none !important;
}

.geek-isSharp * {
    border-radius: 0px !important;
}

.index-main .part>* {
    transition: opacity 0.25s !important;
}

.isGeekMainLoading .part>* {
    opacity: 0 !important;
}

.isShowModal {
    .top-nav-mask {
        z-index: 9 !important;
        opacity: 1 !important;
    }
    .search,
    .article-wrapper header .content {
        z-index: -9 !important;
    }
}

.about-wrapper {
    a {
        background-image: none !important;
    }
}

.article-list li span span {
    border-bottom: rgba(0, 0, 0, 0%) 2px solid;
}


/* .article-list .vditor-outline__item--current span span {
    border-bottom: 2px #0071de solid;
    box-sizing: border-box;
} */

.vditor-reset--anchor {
    padding-left: 0px !important;
}

a,
select,
input,
option,
button,
textarea {
    font-family: "Source Sans Pro", "Hiragino Sans GB", "Microsoft Yahei", SimSun, Helvetica, Arial, Sans-serif, monospace;
    outline: none;
}

textarea::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-color: transparent transparent;
}

body {
    font-size: 14px;
    background-color: #f0f2f7;
}

.modal {
    z-index: 9999999;
}

.hide-description {
    .badge {
        padding: 5px;
        height: 25px;
    }
}

// 禁止文字选择
.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently

not supported by any browser */
}


/* 滚动槽 */

html::-webkit-scrollbar-track {
    border-radius: 7px;
}


/* 滚动条滑块 */

::-webkit-scrollbar {
    // width: 0px;
    // height: 0px;
    // display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-color: transparent transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.1);
}

html::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}

.part {
    position: relative;
    width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 8px;
    transition: all 0.25s;
    box-sizing: border-box;
    background-color: #ffffff;
}

.main-title {
    position: relative;
    color: #344449;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.modal .modal-body>.btn-close {
    transform: scaleX(1.3) rotate(-3deg);
}

.article-list>ul {
    padding-left: 0px !important;
}

.article-list li {
    text-indent: 0em;
    line-height: 24px;
}

.article-list li:before {
    content: "" !important;
}

.article-list {
    li>span {
        margin-bottom: 5px;
        font-size: 14px;
    }
    li>span:hover {
        border-radius: 8px;
        background: rgba($color: #000, $alpha: 0.05);
    }
}

.about-wrapper {
    padding: 0px !important;
    img {
        border-radius: 0 !important;
    }
}

// 标签
.badge {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 4px;
    height: 16px;
    line-height: 16px;
    background-color: #333;
    font-size: 12px;
    color: #fff;
}

.v-note-img-wrapper img {
    max-width: 90vw;
    max-height: 90vh;
}

.content-input-wrapper {
    min-height: 100%;
}

// 移动端适配
@media screen and (max-width: 1025px) {
    .main-title {
        color: #333;
        font-size: 16px;
    }
    .geek-isDark {
        .top-nav {
            background: rgba($color: #e1e1e1, $alpha: 1) !important;
        }
        .top-nav-wrapper {
            background: none !important;
        }
    }
    html {
        font-family: "Source Sans Pro", "Hiragino Sans GB", "Microsoft Yahei", SimSun, Helvetica, Arial, Sans-serif, monospace;
    }
    * {
        font-family: "Source Sans Pro", "Hiragino Sans GB", "Microsoft Yahei", SimSun, Helvetica, Arial, Sans-serif, monospace;
    }
    .isShowModal {
        .top-nav-wrapper {
            display: none;
        }
        .aside-wrapper {
            height: 0px;
        }
        .to-top {
            display: none;
        }
    }
}