html {
  overflow-x: auto;
  overflow-y: scroll;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
p,
blockquote,
th,
td {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h4,
h5 {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  text-align: left;
}

select {
  font-size: 15px;
}

table {
  border-collapse: collapse;
}

fieldset,
img {
  border: 0 none;
}

fieldset {
  margin: 0;
  padding: 0;
}

fieldset p {
  margin: 0;
  padding: 0 0 0 8px;
}

legend {
  display: none;
}

address,
caption,
em,
strong,
th,
i {
  font-style: normal;
  font-weight: 400;
}

table caption {
  margin-left: -1px;
}

hr {
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #e4e4e4;
  border-width: 1px 0;
  clear: both;
  height: 2px;
  margin: 5px 0;
  overflow: hidden;
}

ol,
ul {
  list-style-position: outside;
}

caption,
th {
  text-align: left;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

a {
  color: #000;
  text-decoration: none;
  position: relative;
}

p {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/*评论样式 start*/
.content .v-note-wrapper {
  min-width: unset !important;
}

.content .v-note-wrapper .v-note-panel .v-note-show .v-show-content {
  padding: 0 25px 0 0 !important;
}

.content .markdown-body p {
  margin-bottom: 0 !important;
}

.content .markdown-body pre {
  margin-bottom: 0 !important;
}

.content .markdown-body img {
  max-width: 50% !important;
}

.markdown-body a:hover {
  text-decoration: underline !important;
  color: #ff5722 !important;
}

::selection {
  background: #0079ff;
  color: #f7f7f7;
}

input::selection, textarea::selection {
  background: #0079ff;
  color: #f7f7f7;
}

